* {
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat&display=swap');
    margin: 0;
    padding: 0;
}

.box{
    display: flex;
    flex-direction: column;
    margin:80px auto;
}
footer{
    position: absolute;
    bottom: 0;
    align-self: center;
    left: 50%;

}